{{define "styles"}}
<style>
  body {
    background-color: #fff;
  }

  .code {
    font-size: 24px;
    color: yellow;
    background: #000;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 0px auto;
  }
</style>
{{end}}
